.menuBox {
    // position: relative;
    display: inline-block;
    width: 300px;
    background-color: rgba(#fff, 0.05);

    border-right: 1px solid rgba(#fff, 0.5);

    .menuHeader {
        width: 100%;
        height: 80px;
        // background-color: red;
    }

    .menuBody {
        position: relative;
        width: 100%;
        height: auto;
        // background-color: blue;

        font-size: 25px;
        font-weight: 500;
        color: #fff;
        text-align: center;

        .itemWrapper {
            position: relative;
            cursor: pointer;

            transition: outline 0.2s linear, background-color 0.3s ease;
            &:hover {
                outline: 2px solid rgba(#fff, 0.3);
                background-color: #aeaeae;
            }
        }
    }
}
