.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--welcome-background-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 2.8s linear;

    .box {
        position: relative;
        width: 40%;
        height: 100%;
        border-radius: 8px;
        // background-color:rgba(#8c8683, 0.5);
        color: var(--welcome-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        font-weight: 500;
        line-height: 12px;

        .img {
            width: 120px;
            height: 120px;
            background-color: red;
            border-radius: 50%;
        }

        > h2 {
            margin-top: 20px;
        }

        .desc {
            margin-top: 10px;
        }

        .btn {
            margin-top: 20px;
            padding: 8px 16px;
            font-size: 20px;
        }
    }

    &-close {
        @extend .wrapper;

        width: 0%;
        left: -20%;
        transition: width 2.8s linear;
    }
}
